html{
background-color: black;
}

/* Regular */
@font-face {
    font-family: 'League Gothic';
    src: url('leaguegothic-italic-webfont.eot');
    src: url('leaguegothic-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('leaguegothic-italic-webfont.woff') format('woff'),
         url('leaguegothic-italic-webfont.ttf') format('truetype'),
         url('leaguegothic-italic-webfont.svg#league_gothic_italicregular') format('svg');
    font-weight: normal;
    font-style: italic;

}

/* Italic */
@font-face {
    font-family: 'League Gothic';
    src: url('leaguegothic-regular-webfont.eot');
    src: url('leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('leaguegothic-regular-webfont.woff') format('woff'),
         url('leaguegothic-regular-webfont.ttf') format('truetype'),
         url('leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Condensed */
@font-face {
    font-family: 'League Gothic Condensed';
    src: url('leaguegothic-condensed-regular-webfont.eot');
    src: url('leaguegothic-condensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('leaguegothic-condensed-regular-webfont.woff') format('woff'),
         url('leaguegothic-condensed-regular-webfont.ttf') format('truetype'),
         url('leaguegothic-condensed-regular-webfont.svg#league_gothic_condensed-Rg') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Condensed Italic */
@font-face {
    font-family: 'League Gothic Condensed';
    src: url('leaguegothic-condensed-italic-webfont.eot');
    src: url('leaguegothic-condensed-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('leaguegothic-condensed-italic-webfont.woff') format('woff'),
         url('leaguegothic-condensed-italic-webfont.ttf') format('truetype'),
         url('leaguegothic-condensed-italic-webfont.svg#league_gothic_condensed_itaRg') format('svg');
    font-weight: normal;
    font-style: italic;
}

h1{
font-family: 'League Gothic';
font-size: 2.75em;
margin-left: 5%;
}

h2{
font-family: 'League Gothic';
font-size: 1.85em;
color:blackl;
}

h3 {
	font-family: 'Open Sans';
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15px;
}
p {
	font-family: 'Open Sans';
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
    margin-left: 5%;
}

body{ 
margin: 0 auto;
max-width: 960px;
min-height: 55em;
font-size:100%;
line-height: 1.00;
background-color: white;
}

div.header{
margin: 0 auto;
height: 14em;
padding:2%;
font-size:100%;
line-height: 1.00;
background-color: white;
-webkit-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
 -moz-box-shadow:    0px 3px 5px rgba(100, 100, 100, 0.49);
 box-shadow:         0px 3px 5px rgba(100, 100, 100, 0.49);
}

#logo{

}

img.colorbar{
float: right;
max-width: 100%;
}

div.main{
max-width: 100%;
padding-top: 1.5em; 
}

img.slider{
max-width: 90%;
margin-left: 5%;
margin-top: 2%;
}


div.col{
max-width: 90%;
margin-left: 5%;
height: 30em;
}

img.section, h2{
max-width: 100%;
text-align: center;
}


a.home{
text-decoration: none;
color: black;
}

a.home:hover{
text-decoration: none;
color: #00aeef;
}


section{
max-width: 31.5%;
float: left;
margin-right: 1em;
}

section1{
max-width: 31.5%;
float: right;
margin-right: .5em;
}

footer{
float: left;
width: 100%;
background-color: #00aeef;
height: 4em;
margin-top: -2%;
}

div.footer{
margin-left: 5%;
margin-top: 1.25em;
max-width: 65%
}


img.socialicon{
max-width: 5%;
float: right;
margin-right: 5%;
margin-top: -5%;
}

/*about*/

img.about {
margin-left: 5%
}

div.about p{
float: right;
max-width: 50%;
margin-right: 5%
}

/*SERVICES*/
div.caption2{
height: 13em;
}

div.caption2 img.thumb{
width:20%;
margin-left: 5%;
margin-bottom: 1%
}

div.caption2 p{
width:65%;
margin-right: 3em;
float: right;
}

div.services h2{
text-align: left;
margin-left: 5%;

}

/*Video*/

iframe{
margin-left: 5%;
}


/*contact*/
#contact-area {
	width: 600px;
	margin-top: 25px;
    margin-left: 5%;
    font-family: 'Open Sans';
    font-size:1em;
}

#contact-area input, #contact-area textarea {
	padding: 5px;
	width: 471px;
	font-family: 'Open Sans';
	font-size:1em;
	margin: 0px 0px 10px 0px;
	border: 2px solid #ccc;
}

#contact-area textarea {
	height: 90px;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #900;
}

#contact-area input.submit-button {
	width: 100px;
	float: right;
}

label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
	padding-top: 5px;
	font-size: 1.4em;
}







